/* .con{
  border: 2px;
  border-top: transparent;
  border-bottom: transparent;
} */

#result{
  display:none;
}
#form1{
  display:none;
  }
#man-type{
  display:none;

}
#woman-type{
  display:none;


}

#info0{
  display:none;
}
#info1{
  display:none;
}
label{
  font-size: 18px;
}
.question{
  padding-left: 4%;
}
.card{
  float: left;
  width; 100%;
  padding: 15px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #f1f1f1;
  text-align: center;
}
#intrested-in{
  display:none;
  text-align: center;
}
#man-type{
  display:none;
  text-align: center;
}
#woman-type{
  display:none;
  text-align: center;
}
#vacation-spot{
  display:none;
  text-align: center;
}
#intrests{
  display:none;
  text-align: center;
}
#favorate-color{
  display:none;
  text-align: center;
}
#show-kind{
  display:none;
  text-align: center;
}
.main-submit{
  display:none;
  text-align: center;

}
#help-inline{
  padding-left:20px;
  color:#e80659;
  text-align: center;
}
#err-msg{
  padding-left:20px;
  color:#e80659;
  text-align: center;
}

.help-inline{
  padding-left:20px;
  text-align: center;

  color:#e80659;
}
 .name-block{
   text-align: center;

 }
#heading{
  padding-left:5%;
}
.vl{
  height:100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
