#result{
  display:none;
}

#man-type{
  display:none;
}

#woman-type{
  display:none;
}

#info0{
  display:none;
}
#info1{
  display:none;
}
#info2{
  display:none;
}
#info3{
  display:none;
}
#info4{
  display:none;
}
#info5{
  display:none;
}
#info6{
  display:none;
}
#info7{
  display:none;
}
